body{
  background-image: url("Empty_Class.jpg");
  background-size: auto;
}

.Space{
  padding-top: 10%;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.top{
  top: auto;
  padding-bottom: 50%;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.row{
  padding: 1px;
}
.center{
  width: 50%;
  padding: 1px;
  margin-bottom: 5%;
  margin-left: 75%;
}
.rowcenterL{
  width: 50%;
  padding: 1px;
  margin-bottom: 5%;
  margin-left: 50%;
}
.rowcenterR{
  margin-top: 5%;
 ;
}
.topcolumnL{
  float:left;
  width: 8%;
  margin-left: 90px;
  padding:5px;
}
.bottomcolumnL {
  float:left;
  width: 15%;
  padding:5px;
}
.topcolumnR{
  float:right;
  width: 8%;
  margin-right: 90px;
  padding:5px;
}
.bottomcolumnR {
  float:right;
  width: 15%;
  padding:5px;
}
.midleft{
  padding-left: 50%;
}
.midright{
  padding-left: 30%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


#button{
  width: 5%;
  padding: 1px;
  margin-top: 35%;
  margin-left: 0%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#img{
  left: 5%;
  position: absolute;
  height: "auto";
  width: 200px;
}

#Box0 {
  margin-top: 110%;
  margin-left: 105%;
  position: absolute;
  text-align: center;
  font-size: 15px;

}


#Box1 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
  }

#Box2 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
}
#Box3 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
}
#Box4 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
}
#Box5 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
}
#Box6 {
  margin-top: 110%;
  margin-left: 125%;
  position: absolute;
  text-align: center;
  font-size: 15px;
}
#Box7 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box8 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box9 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box10 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box11 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box12 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box13 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box14 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box15 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box16 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box17 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box18 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box19 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box20 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box21 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box22 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box23 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box24 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box25 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box26 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box27 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box28 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box29 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
#Box30 {
  width: 100px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  outline-color: black;
  object-fit: contain;
}
  
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }